name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest     # x86_64 Linux
          - ubuntu-24.04-arm  # ARM64 Linux
          - macos-15-intel    # Intel macOS
          - macos-latest      # ARM64 macOS
          - windows-latest    # x86_64 Windows
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Set up Alire
      uses: alire-project/setup-alire@v5

    - name: Build project
      run: alr build

    - name: Run tests
      run: alr test
